.main {
    background: content-box radial-gradient(#d3a0a000, rgba(117, 115, 115, 0.366));
}

.main__paragraph {
    text-align: left;
    padding: 25px 20px;
    margin: 0px;
}

.main__header {
    width: 100%;
    color: black;
    padding: 10px;
    text-shadow: 1px 2px 5px #b96b6b;
    background: white;
    box-shadow: 1px 2px 5px black;
}