.section {
    display: flex;
    flex-direction: column;
}

.section--first {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media(max-width:767px) {
    .section--first {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
}

.section__header {
    margin: 0px;
    color: #eee4e4;
    padding: 10px;
    text-shadow: 1px 2px 5px #b96b6b;
    box-shadow: 1px 2px 5px black;
}

.section__importantText {
    color: rgb(238, 232, 232);
    text-shadow: 1px 2px 6px rgb(219, 129, 152);
}

.section__unorderedList {
    padding-left: 0px;
    margin: 0px;
    padding: 25px 20px;
}

.section__unorederedListItem {
    list-style-type: none;
    margin: 8px;
    display: flex;
    justify-content: center;
}

.section__gallery {
    width: 50%;
    padding: 20px 0px;
}
.section__gallery--big {
    width: 100%;
}

.section__gallery--hidden {
    display: none;
}

.section__container {
    overflow: auto;
}

.section__link {
    color: rgb(8, 6, 6);
    background: white;
    Text-decoration: none;
    Padding: 5px;
    border-radius: 40px;
    border: 1px solid rgb(219, 129, 152);
    margin: 20px;
    line-height: 2;
    font-size: 15px;
    border-radius: 2px;
    cursor: pointer;
}

.section__link:hover {
    background-color: rgb(219, 129, 152);
    color: rgb(8, 6, 6);
}

.section__link:focus {
    background-color: rgb(209, 87, 117);
}

.section__link:active {
    background-color: rgb(204, 59, 96);
}

.section__div {
    display: flex;
    justify-content: center;
    ;
}

@media(max-width:767px) {
    .section__div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: stretch;
    }
}

.section__header--div {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.section__paragraph {
    margin: 20px;
    padding: 10px;
    text-align: justify;
}

.section__video {
    flex-shrink: 0;
    padding: 20px;
    width: 560px;
    height: 315px;
}

@media(max-width:767px) {
    .section__video {
        width: 100%;
        height: (100% / 1, 77);
        padding: 20px 0px;
    }
}